*{
    margin: 0;
    padding: 0;
    /* background: rgb(224, 220, 226); */
    color: rgb(61, 61, 61);
    font-family: 'Raleway', sans-serif;
    line-height: 1.25em;
}

body{
    background: url(img.jpg);
    background-attachment: fixed;
    /* background-size: cover; */
    background-position: center;
}

#main-wrapper{
    max-width: 900px;
    margin: 0 auto;
    /* border: 1px solid orange; */
    padding: 30px;
}

header{
    padding: 15px 0;
    text-align: center;
}

header h1{
    font-size: 3em;
}

.section h2{
    padding-left: 5%;
    margin: 35px 0 15px 0;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(61, 61, 61);
    font-weight: 600;
    text-transform: uppercase;
    font-size: 20px;
}

p i {
    font-size: 18px;
}

.indented-list{
    margin-left: 4%;
    padding: 10px 0 20px 0;
}

.flex-list{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    padding-bottom: 3px;
}

.item1{
    /* border: 1px solid black; */
    flex: 2;
}

.item2, .item3{
    flex: 1;
}

.item3{
    text-align: end;
}

.flex-list span{
    font-weight: 600;
    text-decoration: underline;
}

.job-title{
    font-weight: 600;
}

.list-in-list{
    list-style-type: none;
}

.inside-list{
    padding-left: 5%;
}